include ../partials/header
main
    div.container.card.new-card
        div.row
            h4.center-align.create Modósítsd a bejegyzést #{blogs.name}
        div(style="width: 60%; margin: 25px auto;")
            form(action="/blogs/" + blogs._id + "?_method=PUT" method='POST')
                div.input-field
                    input.form-control(type='text' name='name' placeholder='' value= blogs.name)
                    label(for="name") Bejegyzés címe
                div.input-field
                    input.form-control(type='text' name='subname' placeholder='' value= blogs.subname)
                    label(for="subname") Bejegyzés alcíme
                div(class="input-field")
                    select(name="status" required)
                        option(value="" disabled selected) Állapot
                        option(value="nyilvános") Nyilványos
                        option(value="privát") Privát
                div.input-field
                    input.form-control(type='text' pattern="^https:\/\/images\.unsplash\.com\/.*" title="Csak az unsplash.com-ról tudsz feltenni képet lásd alul a linken" name='image' id="image" placeholder="https://images.unsplash.com/..." value= blogs.image)
                    label(for="image")  Fő kép
                    <small>Kattints <a href="https://www.youtube.com/watch?v=ti__fa9ET6Q&feature=youtu.be" target="_blank">ide</a> hogy megnézd hogy kell az url linket bemásolni</small>
                div.input-field
                    textarea(name="description" rows="10" cols="95") #{blogs.description}
                div.input-field
                    button.waves-effect.waves-light.btn Módosítom!
                a.back(href='/blogs') vissza
include ../partials/footer

