include ../partials/header
div.container
    div.row
        h1.text-center Create a New blog
        div(style="width: 30%; margin: 25px auto;")
            form(action='/blogs' method='POST')
                div.form-group
                    input.form-control(type='text' name='name' placeholder='name')
                div.form-group
                    input.form-control(type='text' name='image' placeholder='image url')
                div.form-group
                    input.form-control(type='text' name='description' placeholder='description')
                div.form-group
                    button.btn.btn-lg.btn-danger.btn-block Submit!
            a(href='/blogs') back
        
    
include ../partials/footer