include ../partials/header
main
    div.container.card.new-card
        div.row
            h4.center-align.create Írj egy új bizonyságot
            div(style="width: 60%; margin: 25px auto;")
                form(action='/blogs' method='POST' enctype="multipart/form-data")
                    div.input-field
                        input.form-control(type='text' name='testamony[name]' placeholder='')
                        label(for="name") Bizonyságod címe
                    div.input-field
                        input.form-control(type='text' name='testamony[subname]' placeholder='')
                        label(for="subname") alcíme
                    div(class="input-field")
                        select(name="testamony[status]" required)
                            option(value="nyilvános" selected) Nyilványos
                            option(value="privát") Privát
                    div.input-field
                        p A megfelelő kép minőségért <a href="https://unsplash.com/" target="_blank">inenn</a> válasz képet
                    div.input-field
                        input.form-control(type="file" id="imageup" name="imageup" accept="image/*" required)
                    div.input-field
                        textarea(name="testamony[description]" rows="30" cols="95" id="editor")
                    div.input-field
                        button.waves-effect.waves-light.btn Létrehozom!
                    a.back(href='/blogs') vissza
include ../partials/footer