include ./partials/header 
div.row
	div.col-md-12
		h1.text-center.forgot-title Elfelejtett Jelszó
		form(action="/forgot" method="POST" class="forgot")
			div.form-group
				label(for="email") Email-cím
				input.form-control(type="email" name="email" autofocus)
			div.form-group
				input.btn.btn-primary(type="submit" value="Jelszó valtoztatás")