include ./partials/header
h1.login-title Jelentkezz be
div.form-div
	form(action="/login" method="POST")
		div.form-group
			input.form-control(type="text" name="username" placeholder="felhasználó név")
		div.form-group
			input.form-control(type="password" name="password" placeholder="jelszó")
		div.form-group
			button.btn.btn-lg.btn-primary.btn-block Bejelentkezés


