include ./partials/header
div.container-fluid
    div.row
        div.col-md-7.left
            div.container.left-content
                div.row
                    div.col-md-7
                        h1.left.title Üdvözöllek
                        h3.left.head Regisztrálj a csirkecomb honlapján
                        h5.left-head-content A csirkecomb egy olyan oldal ahol megtudod osztani a bizonyságaidat a barátaiddal, hogy bátoríthasd őket. Ez a honlap azért jött létre mert fontosnak tartjuk, hogy egy közösség jöjjön létre erre. Ha még nem regisztráltál akkor tedd meg és utánna oszd meg amit isten veled tett. Ez a honlap azért jött létre mert fontosnak tartjuk, hogy egy közösség jöjjön létre erre. Ha még nem regisztráltál akkor tedd meg és utánna oszd meg amit isten veled tett.
                        a(href="/login")
                            button.btn.btn-lg.btn-primary.sign-up.already-btn Nekem már van fiókom
        div.col-md-5.right
            div.form-div
                form(action="/register" method="POST")
                    div.form-group
                        input.form-control(type="text" name="username" placeholder="felhasználónév")
                    div.form-group
                        input.form-control(type="text" name="firstname" placeholder="Keresztnév")
                    div.form-group
                        input.form-control(type="text" name="lastname" placeholder="Vezetéknév")
                    div.form-group
                        input.form-control(type="email" name="email" placeholder="email-cím")
                    div.form-group
                        input.form-control(type="text" name="avatar" placeholder="profilkep url" id="#user-image-set")
                    div.from-group.password
                        input.form-control(type="password" name="password" placeholder="jelszó")
                    div.from-group.admin
                        input.form-control(type="password" name="adminCode" placeholder="Admin Code")
                        p.admin-code-title Ez csak akkor kell ha rendelkezel ilyennel
                    div.form-group
                        button.btn.btn-lg.btn-primary.sign-up-page-btn Készen állok a belépésre

include ./partials/footer

