include ./partials/header
div.container-fluid
    div.row
        div.col-md-7.left
            div.container.left-content
                div.row
                    div.col-md-7
                        h1.left.title Üdvözöllek
                        h3.left.head Regisztrálj a csirkecomb honlapján
                        h5.left-head-content A csirkecomb egy olyan oldal ahol megtudod osztani a bizonyságaidat a barátaiddal, hogy bátoríthasd őket. Ez a honlap azért jött létre mert fontosnak tartjuk, hogy egy közösség jöjjön létre erre. Ha még nem regisztráltál akkor tedd meg és utánna oszd meg amit isten veled tett. Ez a honlap azért jött létre mert fontosnak tartjuk, hogy egy közösség jöjjön létre erre. Ha még nem regisztráltál akkor tedd meg és utánna oszd meg amit isten veled tett.
                        a(href="/login")
                            button.btn.btn-lg.btn-primary.sign-up.already-btn Nekem már van fiókom
        div.col-md-5.right
            div.form-div
                form(action="/register" method="POST")
                    div.form-group
                        label(for="username") felhasználónév
                        input.form-control(type="text" name="username" placeholder="felhasználónév*" pattern=".{3,15}" required title="Muszáj hogy 3 és 5 karakter között legyen.")
                    div.form-group
                        label(for="firstname") Keresztnév
                        input.form-control(type="text" name="firstname" placeholder="Keresztnév*" pattern=".{3,15}" required title="Muszáj hogy 3 és 5 karakter között legyen." )
                    div.form-group
                        label(for="lastname") Vezetéknév
                        input.form-control(type="text" name="lastname" placeholder="Vezetéknév*" pattern=".{3,15}" required title="Muszáj hogy 3 és 5 karakter között legyen.")
                    div.form-group
                        label(for="email") Email
                        input.form-control(type="email" name="email" placeholder="email-cím*" required)
                    div.form-group
                        label(for="avatar") Profilkép
                        input.form-control(type="text" name="avatar" placeholder="profilkep url" id="#user-image-set")
                    div.from-group.password
                        label(for="password") Jelszó
                        input.form-control(type="password" name="password" placeholder="jelszó" pattern=".{8,20}" title="A jelszónak muszáj 5 és 20 karakter között kell lennie.")
                    div.form-group
                        label(for="bio") Bio
                        textarea(name="bio" rows="3" cols="45" placeholder="Írj egy rövid bemutatkozást magadról vagy esetleg ha van akkor szolgálatodról." type="bio")
                    div.from-group.admin
                        label(for="adminCode") Admincode
                        input.form-control(type="password" name="adminCode" placeholder="Admin Code")
                        p.admin-code-title Ez csak akkor kell ha rendelkezel ilyennel
                    div.form-group
                        button.btn.btn-lg.btn-primary.sign-up-page-btn Készen állok a belépésre

include ./partials/footer

