@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i');
#like-button {
    color: #000;
    font-size: 25px;
    margin-top: 9px;
}

#dislike-button {
    color: #000;
    font-size: 25px;
    margin-top: 9px;
    margin-left: 3%;
}

.social-box {
    margin-top: 500px;
}

.blog-date {
    color: #808080;
    text-align: center;
}

.blog-desc {
    line-height: 23px;
    color: #000;
    text-align: left;
    font-family: 'Playfair Display SC', serif;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.content-desc {
    background-color: #fff;
    padding-bottom: 100px;
    margin: 0rem 0 1rem 0;
}

.desc-container {
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.main-bg {
    background-size: cover !important;
    padding-top: 300px;
    padding-bottom: 300px;
}

.blog-subname {
    color: #242424;
    text-align: center;
}

.edit {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 10px;
}

.delete {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 10px;
}

.container-comment {
    background-color: #fff;
}

.comment-title {
    color: #000;
    padding-bottom: 30px;
    text-align: right;
}

.currenUser {
    padding: 2px;
}

.username {
    padding-left: 3px;
    color: #000;
    padding-top: 15px;
}

.btn-small {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 13px;
    float: right;
    background-color: #18A777;
    color: #fff;
}

.btn-red {
    background-color: #F44336;
}

.comment-text {
    color: #000;
    padding-left: 1%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.comment-date {
    color: #808080;
    font-size: 10px;
    padding-left: 1%;
}

.collapse.in {
    display: block;
}

.collapse {
    display: none;
}

.add-comment {
    background-color: #000;
    border-radius: 0px;
}

.add-comment:hover {
    background-color: #000;
}

.add-commet-btn {}

em {
    margin-top: -20px;
    font-size: 10px;
}

.well {
    background-color: transparent;
    border: 0px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}