@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron');

body {
  background-color: #000;
  /*font-family: 'Orbitron', sans-serif;*/
  font-family: 'Luckiest Guy', cursive;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #808080;
}


.chiken-logo{
     -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
   -webkit-transform: rotate(45deg);
}
.chiken-logo:hover{
    -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}












