thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.item a{
	color: #000;
}
.item{
	float: right!important;
    margin-right: 15px;
    list-style-type: none;
    padding-top: 15px;
}

.item a:hover{
	text-decoration: none;
}

#delete-form{
	display: inline;
	padding: 4px;
}
/* Login CSS*/
.login-title{
	text-align: center;
}
.form-div{
	width: 30%;
	margin: 25px auto;
}
