include ../partials/header
div.container.card.new-card
    div.row
        h4.center-align.create Frissítsd a profilod #{user.username}
        div(style="width: 60%; margin: 25px auto;")
            form(action="/users/" + user._id + "?_method=PUT" method="POST")
                div.input-field
                    input.form-control(type="text" name="username" value= user.username)
                    label(for="username") Felhasználó név
                div.input-field
                    input.form-control(type="text" name="avatar" value= user.avatar id="#user-image-set")
                    label(for="avatar") Avatár
                div.input-field
                    textarea(name="bio" rows="10" cols="75") !{user.bio}
                    label(for="bio") Magadról
                    br
                div.input-field
                    button.waves-effect.waves-light.btn Frissitem!
                a.back(href='/users/' + user._id) vissza
include ../partials/footer

